# Análisis del registro de gastos

In [1]:
import pandas as pd
import numpy as np

## Lectura y descripción de DataFrame

In [2]:
file_path = './files/expense record/Gastos.xlsx'
sheet_name = 'Enero'
range_of_cells = 'B13:F45'

df = pd.read_excel(file_path, sheet_name=sheet_name, header=None, skiprows=range(12), usecols=range(1, 6))
print(df)

               1                  2                    3  \
0      CATEGORÍA       SUBCATEGORÍA                FECHA
1           Ocio          O - Otros  2024-01-01 00:00:00
2          Salud   Cuidado Personal  2024-01-03 00:00:00
3   Gastos_Fijos          Servicios  2024-01-05 00:00:00
4   Gastos_Fijos          Servicios  2024-01-06 00:00:00
5          Salud           Gimnasio  2024-01-08 00:00:00
6   Supermercado            Almacén  2024-01-08 00:00:00
7   Supermercado            Almacén  2024-01-10 00:00:00
8   Gastos_Fijos          Servicios  2024-01-08 00:00:00
9   Gastos_Fijos          Servicios  2024-01-08 00:00:00
10  Supermercado         Verdulería  2024-01-12 00:00:00
11          Ocio       Restaurantes  2024-01-13 00:00:00
12  Supermercado            Almacén  2024-01-14 00:00:00
13  Supermercado            Almacén  2024-01-14 00:00:00
14  Supermercado         Verdulería  2024-01-14 00:00:00
15      Vivienda  Electrodomésticos  2024-01-14 00:00:00
16          Ocio       Restaurantes  2024-01-15 00:00:00
17  Supermercado         Carnicería  2024-01-17 00:00:00
18  Supermercado            Almacén  2024-01-17 00:00:00
19  Supermercado            Almacén  2024-01-18 00:00:00
20  Gastos_Fijos          Servicios  2024-01-19 00:00:00
21  Gastos_Fijos          Servicios  2024-01-20 00:00:00
22  Supermercado         Verdulería  2024-01-20 00:00:00
23  Supermercado            Almacén  2024-01-20 00:00:00
24  Gastos_Fijos          Servicios  2024-01-20 00:00:00
25  Supermercado            Almacén  2024-01-20 00:00:00
26  Supermercado         Verdulería  2024-01-21 00:00:00
27  Supermercado            Almacén  2024-01-21 00:00:00
28  Supermercado         Carnicería  2024-01-21 00:00:00
29          Ocio       Restaurantes  2024-01-21 00:00:00
30  Gastos_Fijos          Servicios  2024-01-27 00:00:00
31  Supermercado         Carnicería  2024-01-27 00:00:00
32  Supermercado            Almacén  2024-01-29 00:00:00

                                          4        5
0                                   DETALLE  IMPORTE
1                                   Lujuria    12000
2                                  Barbería     4000
3                           LinkdIn premium  3223.96
4                             Bidon de agua     2500
5                                  Efectivo    10500
6                      Avena, Crema de mani     4400
7                          Mix frutos secos     3500
8               Reserva turno nutricionista     2000
9               Asesoramiento entrenamiento     5000
10                                    Fruta     4400
11                                    Budin     3000
12                        3 yogurst griegos     4920
13                         Leche descremada      800
14   Banana, Cereza, Uva, tomate, zanahoria     3900
15                                  Báscula  9123.75
16                                      NaN     3388
17                        1100gr de suprema     4290
18                            agua gimnasio      800
19  Pan lactal, leche descremada, 1/2 huevo     2700
20                           Github Copilot  13864.3
21                                  Soderia     2500
22                                      NaN     4100
23                                Dietetica    13000
24                            Nutricionista     5400
25                                      NaN     2500
26                                      NaN     1390
27                                      NaN     1200
28                                  Suprema     7007
29                                PedidosYa  4478.19
30                            Bidon de agua     2500
31                                    pollo     3861
32                       Pascualina, fideos     3300

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       33 non-null     object
 1   2       33 non-null     object
 2   3       33 non-null     object
 3   4       28 non-null     object
 4   5       33 non-null     object
dtypes: object(5)
memory usage: 1.4+ KB

In [4]:
print(df.head(5))

              1                 2                    3                4  \
0     CATEGORÍA      SUBCATEGORÍA                FECHA          DETALLE
1          Ocio         O - Otros  2024-01-01 00:00:00          Lujuria
2         Salud  Cuidado Personal  2024-01-03 00:00:00         Barbería
3  Gastos_Fijos         Servicios  2024-01-05 00:00:00  LinkdIn premium
4  Gastos_Fijos         Servicios  2024-01-06 00:00:00    Bidon de agua

         5
0  IMPORTE
1    12000
2     4000
3  3223.96
4     2500

## Limpieza

In [5]:
df.columns = ['Category', 'Subcategory', 'Date', 'Detail', 'Total']

In [6]:
df = df.drop(0)

In [7]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [8]:
print(df.head(5))

       Category       Subcategory        Date           Detail    Total
1          Ocio         O - Otros  2024-01-01          Lujuria    12000
2         Salud  Cuidado Personal  2024-01-03         Barbería     4000
3  Gastos_Fijos         Servicios  2024-01-05  LinkdIn premium  3223.96
4  Gastos_Fijos         Servicios  2024-01-06    Bidon de agua     2500
5         Salud          Gimnasio  2024-01-08         Efectivo    10500

# Análisis de gastos

## Análisis de gastos fijos

In [9]:
grouped_category_df = df.groupby('Category')['Total'].sum()
print(grouped_category_df)

Category
Gastos_Fijos    36988.26
Ocio            22866.19
Salud              14500
Supermercado       66068
Vivienda         9123.75
Name: Total, dtype: object

In [10]:
grouped_subcategory_df = df.groupby('Subcategory')['Total'].sum()
print(grouped_subcategory_df)

Subcategory
Almacén                 37120
Carnicería              15158
Cuidado Personal         4000
Electrodomésticos     9123.75
Gimnasio                10500
O - Otros               12000
Restaurantes         10866.19
Servicios            36988.26
Verdulería              13790
Name: Total, dtype: object

### Gastos fijos totales = salud + gastos fijos

In [11]:
suma_salud_gastos_fijos = grouped_category_df.loc[['Salud', 'Gastos_Fijos']].sum()
print(f"El gasto total entre salud y gastos fijos es de: {suma_salud_gastos_fijos}")

El gasto total entre salud y gastos fijos es de: 51488.26

### Conclusión de gastos fijos
Con los datos anteriormente, decimos que:
* Tenemos que guardar $48.988,26 por grastos en salud y gastos fijos, redondeando a $50.000

## Análisis de variables

In [12]:
df_without_total_fixed_expenses = df[~df['Category'].isin(['Salud', 'Gastos_Fijos'])]
print(df_without_total_fixed_expenses)

        Category        Subcategory        Date  \
1           Ocio          O - Otros  2024-01-01
6   Supermercado            Almacén  2024-01-08
7   Supermercado            Almacén  2024-01-10
10  Supermercado         Verdulería  2024-01-12
11          Ocio       Restaurantes  2024-01-13
12  Supermercado            Almacén  2024-01-14
13  Supermercado            Almacén  2024-01-14
14  Supermercado         Verdulería  2024-01-14
15      Vivienda  Electrodomésticos  2024-01-14
16          Ocio       Restaurantes  2024-01-15
17  Supermercado         Carnicería  2024-01-17
18  Supermercado            Almacén  2024-01-17
19  Supermercado            Almacén  2024-01-18
22  Supermercado         Verdulería  2024-01-20
23  Supermercado            Almacén  2024-01-20
25  Supermercado            Almacén  2024-01-20
26  Supermercado         Verdulería  2024-01-21
27  Supermercado            Almacén  2024-01-21
28  Supermercado         Carnicería  2024-01-21
29          Ocio       Restaurantes  2024-01-21
31  Supermercado         Carnicería  2024-01-27
32  Supermercado            Almacén  2024-01-29

                                     Detail    Total
1                                   Lujuria    12000
6                      Avena, Crema de mani     4400
7                          Mix frutos secos     3500
10                                    Fruta     4400
11                                    Budin     3000
12                        3 yogurst griegos     4920
13                         Leche descremada      800
14   Banana, Cereza, Uva, tomate, zanahoria     3900
15                                  Báscula  9123.75
16                                      NaN     3388
17                        1100gr de suprema     4290
18                            agua gimnasio      800
19  Pan lactal, leche descremada, 1/2 huevo     2700
22                                      NaN     4100
23                                Dietetica    13000
25                                      NaN     2500
26                                      NaN     1390
27                                      NaN     1200
28                                  Suprema     7007
29                                PedidosYa  4478.19
31                                    pollo     3861
32                       Pascualina, fideos     3300

In [13]:
grouped_variable_expenses_df = df_without_total_fixed_expenses.groupby('Subcategory')['Total'].sum()
print(grouped_variable_expenses_df)

Subcategory
Almacén                 37120
Carnicería              15158
Electrodomésticos     9123.75
O - Otros               12000
Restaurantes         10866.19
Verdulería              13790
Name: Total, dtype: object

### Total de gastos variables importantes

In [14]:
subcategories_to_sum = ['Almacén', 'Carnicería', 'Verdulería']
subcategories_to_exclude = ['Almacén', 'Carnicería', 'Verdulería']

sum_subcategories = grouped_variable_expenses_df.loc[subcategories_to_sum].sum()
sum_remaining_subcategories = grouped_variable_expenses_df.drop(subcategories_to_exclude).sum()

In [15]:
print(f"El gasto total en las subcategorías {subcategories_to_sum} es de: {sum_subcategories}")
print(f"El gasto total en las subcategorías restantes es de: {sum_remaining_subcategories}")

El gasto total en las subcategorías ['Almacén', 'Carnicería', 'Verdulería'] es de: 66068
El gasto total en las subcategorías restantes es de: 31989.94

### Conclusión de gastos variables
* Para el més de febrero, hay que apartar un mínimo de $65.000 para los gastos en comida
* Existe un gasto de aproximadamente $40.000 en otras cosas nó necesarias para la existencia de Tomás Cueva

### Análisis general

In [16]:
total = df['Total'].sum()
print(f'El total de gastos en el mes de enero es de: {total}')

El total de gastos en el mes de enero es de: 149546.2

In [18]:
print(f'Los gastos generales se pueden extender hasta un {total + (total * 0.26)}')

Los gastos generales se pueden extender hasta un 188428.212

# Conclusión
* Gastos Fijos: $51.488,26
* Gastos en comida: $66.068
* Gastos innecesarios o no importantes de : $32.000

La suma entre los gastos es alrededor de unos $149.546,2 , siendo que la inflación del proximo mes va a ser alrededor de un 26%, un poco más o un poco menos, los gastos totales deberías ser de unos $188.428,212

In [25]:
dolar_mep = 1256.76
dinero_recibido_por_padre = 60000

In [26]:
dinero_recibido_por_padre_en_dolares_mep = round(dinero_recibido_por_padre / dolar_mep, 2)
print(dinero_recibido_por_padre_en_dolares_mep)

47.74

In [27]:
sueldo_destinado_a_futuro = 100 * dolar_mep
print(sueldo_destinado_a_futuro)

125676.0

In [31]:
dinero_destinado_a_futuro_total_dolares = dinero_recibido_por_padre_en_dolares_mep + (sueldo_destinado_a_futuro/dolar_mep)
dinero_destinado_a_futuro_total_ars = dinero_recibido_por_padre + sueldo_destinado_a_futuro

In [33]:
print(f'Sueldo futuro en dolares: {dinero_destinado_a_futuro_total_dolares}')
print(f'Sueldo futuro en pesos: {dinero_destinado_a_futuro_total_ars}')

Sueldo futuro en dolares: 147.74
Sueldo futuro en pesos: 185676.0

In [37]:
print(f'Dinero destinado a estudio en dolares: {dinero_destinado_a_futuro_total_dolares * 0.32}')
print(f'Dinero destinado a inversiones en dolares: {dinero_destinado_a_futuro_total_dolares * 0.50}')
print(f'Dinero destinado a ahorro en dolares: {dinero_destinado_a_futuro_total_dolares * 0.18}')

Dinero destinado a estudio en dolares: 47.2768
Dinero destinado a inversiones en dolares: 73.87
Dinero destinado a ahorro en dolares: 26.5932

In [39]:
print(f'Dinero destinado a estudio en ars: {dinero_destinado_a_futuro_total_ars * 0.32}')
print(f'Dinero destinado a inversiones en ars: {dinero_destinado_a_futuro_total_ars * 0.50}')
print(f'Dinero destinado a ahorro en ars: {dinero_destinado_a_futuro_total_ars * 0.18}')

Dinero destinado a estudio en ars: 59416.32
Dinero destinado a inversiones en ars: 92838.0
Dinero destinado a ahorro en ars: 33421.68